body {
    background-color: #F5F5F5;
    font-family: 'Ubuntu', sans-serif;
}

a {
    color:black;
    font-weight: bold;
    text-decoration: none;
}

.surveyBtn {
    padding-top: 20px;
}

.homeJumbotron {
    color:white;
    background-color: indigo
}

.surveyJumbotron {
    color:white;
    background-color: indigo;
    padding: 10px 0px 10px 15px !important;
    margin-bottom: 5px;
}

.questions {
    background-color: white;
    color: black;
    padding: 5px 15px 15px 15px;
    border-radius: 10px;
}